
block viewVars

- if(typeof title === 'undefined')
  - var title = "Domo"
- else
  - title += " | Domo"

!!! 5
html(ng-app=ngApp)
  head
    title #{title}


    block styles

      
    block head


  body(style= bodyStyle)


    block body
    

      block footer




    block scripts
